In [17]:

# 导入tushare
import tushare as ts
# 初始化pro接口
pro = ts.pro_api('your token here')

In [18]:
def download_data(symbol):
    # 拉取数据
    df = pro.index_daily(**{
        "ts_code": symbol,
        "trade_date": "",
        "start_date": "",
        "end_date": "",
        "limit": "",
        "offset": ""
    }, fields=[
        "ts_code",
        "trade_date",
        "close",
        "open",
        "high",
        "low",
        "pre_close",
        "change",
        "pct_chg",
        "vol",
        "amount"
    ])
    return df

symbol = '000300.SH'
df = download_data(symbol)

# 修改列名
df.rename(columns={'ts_code':'symbol','trade_date':'date','vol':'volume'},inplace=True)
df

,symbol,date,close,open,high,low,pre_close,change,pct_chg,volume,amount
0,000300.SH,20240904,3252.1649,3253.8980,3272.9861,3249.9809,3273.4282,-21.2633,-0.6496,1.048325e+08,1.400701e+08
1,000300.SH,20240903,3273.4282,3261.7410,3281.5935,3261.1877,3265.0110,8.4172,0.2578,1.228973e+08,1.550895e+08
2,000300.SH,20240902,3265.0110,3307.5432,3307.7627,3264.7565,3321.4323,-56.4213,-1.6987,1.476124e+08,1.944100e+08
3,000300.SH,20240830,3321.4323,3273.7532,3351.6254,3273.6496,3277.6812,43.7511,1.3348,1.886954e+08,2.683760e+08
4,000300.SH,20240829,3277.6812,3273.5410,3290.7857,3269.5288,3286.4956,-8.8144,-0.2682,1.307023e+08,1.743401e+08
...,...,...,...,...,...,...,...,...,...,...,...
4776,000300.SH,20050110,993.8790,983.7600,993.9590,979.7890,983.9580,9.9210,1.0083,5.791698e+06,3.762933e+06
4777,000300.SH,20050107,983.9580,983.0450,995.7110,979.8120,983.1740,0.7840,0.0797,7.298694e+06,4.737469e+06
4778,000300.SH,20050106,983.1740,993.3310,993.7880,980.3300,992.5640,-9.3900,-0.9460,6.288029e+06,3.921015e+06
4779,000300.SH,20050105,992.5640,981.5770,997.3230,979.8770,982.7940,9.7700,0.9941,7.119109e+06,4.529208e+06
4780,000300.SH,20050104,982.7940,994.7690,994.7690,980.6580,1000.0000,-17.2060,-1.7206,7.412869e+06,4.431977e+06

In [19]:
# 保存到本地csv文件
df.to_csv(f'data/{symbol}.csv',index=False)

In [14]:
import akshare as ak

df = ak.stock_zh_a_hist(symbol="000001", period="daily", adjust="hfq")
df

,日期,股票代码,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,1991-04-03,000001,49.00,49.00,49.00,49.00,1,5.000000e+03,0.00,22.50,9.00,0.00
1,1991-04-04,000001,48.76,48.76,48.76,48.76,3,1.500000e+04,0.00,-0.49,-0.24,0.00
2,1991-04-05,000001,48.52,48.52,48.52,48.52,2,1.000000e+04,0.00,-0.49,-0.24,0.00
3,1991-04-06,000001,48.28,48.28,48.28,48.28,7,3.400000e+04,0.00,-0.49,-0.24,0.00
4,1991-04-08,000001,48.04,48.04,48.04,48.04,2,1.000000e+04,0.00,-0.50,-0.24,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
7985,2024-08-30,000001,2012.24,2020.36,2036.61,2012.24,1294059,1.318859e+09,1.21,0.24,4.87,0.67
7986,2024-09-02,000001,2013.86,2012.24,2028.49,2008.98,968836,9.838988e+08,0.97,-0.40,-8.12,0.50
7987,2024-09-03,000001,2012.24,2007.36,2015.49,1994.36,916581,9.208847e+08,1.05,-0.24,-4.88,0.47
7988,2024-09-04,000001,2002.48,1997.61,2018.74,1994.36,847992,8.522247e+08,1.21,-0.49,-9.75,0.44
7989,2024-09-05,000001,1999.23,2005.73,2007.36,1991.11,594209,5.958458e+08,0.81,0.41,8.12,0.31

In [9]:
df.rename(columns={'日期':'date','股票代码':'symbol'},inplace=True)
df

,date,symbol,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,1991-04-03,000001,49.00,49.00,49.00,49.00,1,5.000000e+03,0.00,22.50,9.00,0.00
1,1991-04-04,000001,48.76,48.76,48.76,48.76,3,1.500000e+04,0.00,-0.49,-0.24,0.00
2,1991-04-05,000001,48.52,48.52,48.52,48.52,2,1.000000e+04,0.00,-0.49,-0.24,0.00
3,1991-04-06,000001,48.28,48.28,48.28,48.28,7,3.400000e+04,0.00,-0.49,-0.24,0.00
4,1991-04-08,000001,48.04,48.04,48.04,48.04,2,1.000000e+04,0.00,-0.50,-0.24,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
7983,2024-08-28,000001,2060.99,2047.99,2064.24,2039.86,942548,9.738722e+08,1.18,-0.79,-16.25,0.49
7984,2024-08-29,000001,2044.74,2015.49,2056.12,2012.24,1197676,1.221351e+09,2.14,-1.59,-32.50,0.62
7985,2024-08-30,000001,2012.24,2020.36,2036.61,2012.24,1294059,1.318859e+09,1.21,0.24,4.87,0.67
7986,2024-09-02,000001,2013.86,2012.24,2028.49,2008.98,968836,9.838988e+08,0.97,-0.40,-8.12,0.50
7987,2024-09-03,000001,2012.24,2008.98,2015.49,1994.36,889427,8.935005e+08,1.05,-0.16,-3.26,0.46

In [10]:
import akshare as ak

df = ak.stock_zh_index_daily(symbol="sz399006")
df

            date      open      high       low     close       volume
0     2010-06-01   986.015   994.793   948.118   973.233    135628512
1     2010-06-02   967.609   997.119   952.611   997.119    107462760
2     2010-06-03  1002.355  1026.702   997.775   998.394    161680544
3     2010-06-04   989.681  1027.681   986.504  1027.681    150029504
4     2010-06-07  1005.028  1075.225  1001.702  1069.468    265527536
...          ...       ...       ...       ...       ...          ...
3462  2024-08-29  1512.371  1551.540  1512.171  1541.400  14384968169
3463  2024-08-30  1543.894  1601.156  1543.894  1580.459  20172685031
3464  2024-09-02  1577.445  1581.869  1536.526  1536.950  16141459575
3465  2024-09-03  1533.572  1561.857  1533.458  1556.321  13875033581
3466  2024-09-04  1541.899  1569.885  1540.172  1554.640  13745138843

[3467 rows x 6 columns]